<!-- FULLCALENDAR CSS -->
<link rel="stylesheet" media="screen" href="/lib/fullcalendar/fullcalendar.css" />
<!-- FULLCALENDAR CSS END -->
                <h1 class="page-title">Calendar</h1>
                <div class="container_12 clearfix leading">
                    <div class="grid_12">
                        <div id="fullcalendar"></div>
                        <div class="message info leading">
                            To learn more about this great calendar app, <a href="http://arshaw.com/fullcalendar/">click here</a>
                        </div>
                    </div>
                </div>
    
    <!-- FULLCALENDAR -->
    <script type="text/javascript" src="/lib/fullcalendar/jquery-ui-interactions.min.js"></script>
    <script type="text/javascript" src="/lib/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#fullcalendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			]
		});
		
	});
    </script>
    <!-- FULLCALENDAR END -->