<link rel="stylesheet" media="screen" href="/css/docs.css" />
<!-- FULLCALENDAR CSS -->
<link rel="stylesheet" media="screen" href="/lib/fullcalendar/fullcalendar.css" />
<!-- FULLCALENDAR CSS END -->

<!-- FULLCALENDAR -->
<script type="text/javascript" src="/lib/fullcalendar/jquery-ui-interactions.min.js"></script>
<script type="text/javascript" src="/lib/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();

	$('#calendar1').fullCalendar({});

	$('#calendar2').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaDay'
		},
		firstDay:1,
		height:320
	});

	$('#calendar3').fullCalendar({
		header: {
			left: 'prev,next',
			center: 'title',
			right: 'today'
		},
		defaultView: 'basicWeek',
		height:260
	});

	
	$('#fullcalendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true,
		events: [
			{
				title: 'All Day Event',
				start: new Date(y, m, 1)
			},
			{
				title: 'Long Event',
				start: new Date(y, m, d-5),
				end: new Date(y, m, d-2)
			},
			{
				id: 999,
				title: 'Repeating Event',
				start: new Date(y, m, d-3, 16, 0),
				allDay: false
			},
			{
				id: 999,
				title: 'Repeating Event',
				start: new Date(y, m, d+4, 16, 0),
				allDay: false
			},
			{
				title: 'Meeting',
				start: new Date(y, m, d, 10, 30),
				allDay: false
			},
			{
				title: 'Lunch',
				start: new Date(y, m, d, 12, 0),
				end: new Date(y, m, d, 14, 0),
				allDay: false
			},
			{
				title: 'Birthday Party',
				start: new Date(y, m, d+1, 19, 0),
				end: new Date(y, m, d+1, 22, 30),
				allDay: false
			},
			{
				title: 'Click for Google',
				start: new Date(y, m, 28),
				end: new Date(y, m, 29),
				url: 'http://google.com/'
			}
		]
	});
	
});
</script>
<!-- FULLCALENDAR END -->
    
<h1 class="page-title">Calendar</h1>
<div class="container_12 clearfix">
	<section class="portlet grid_12 leading docs">
		<header>
    		<h2>Calendar</h2>
    	</header>
    	<section>
    		<p>Add a fully functional calendar to your webpages using <a href="http://arshaw.com/fullcalendar/">FullCalendar</a>.</p>
    		<p>FullCalendar is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below.</p>
	    	
	    	<h4>Basic Usage</h4>
	    	<div class="grid_6">
				<p>HTML Code is as simple as: </p>
<pre class="code">
&lt;div id=&quot;fullcalendar&quot;&gt;&lt;/div&gt;
</pre>	    
				<p>Next is to set up the JavaScript and the css files in the head of your html files. 
				Then we need to write the JavaScript code that initializes the calendar.</p>
<pre class="code">
Javascript:

$(document).ready(function() {
	// page is now ready, initialize the calendar...
    $('#calendar1').fullCalendar({
        // put your options and callbacks here
        
    })
});	

</pre>		
				<p>As simple as that. Now we have the basic calendar that has no events on it.</p>
			</div>
			<div class="grid_6">	
    			<div id="calendar1"></div>
    		</div>
    		<div class="clearfix"></div>
    		
    		
    		<div class=leading">
	    		<h4>Customize Display</h4>
	    		
	    		<table class="basic-table">
					<thead>
						<tr>
							<th style="width:100px">Options</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>header</td>
							<td>Defines the buttons and title at the top of the calendar. <br/>
<pre class="code">
{
    left:   'title',
    center: '',
    right:  'today prev,next'
}
</pre>
														
							</td>
						</tr>
						<tr>
							<td>theme</td>
							<td>Enables/disables use of jQuery UI theming.<pre class="code">Boolean, default: false</pre></td>
						</tr>
						<tr>
							<td>firstDay</td>
							<td>The day that each week begins. <pre class="code">Integer, default: 0 (Sunday)</pre></td>
						</tr>
						<tr>
							<td>weekends</td>
							<td>Whether to include Saturday/Sunday columns in any of the calendar views. <pre class="code">Boolean, default: true</pre></td>
						</tr>
						<tr>
							<td>height</td>
							<td>Will make the entire calendar (including header) a pixel height. <pre class="code">Integer</pre></td>
						</tr>
					</tbody>
	    		</table>
	    		<p>Check complete Calendar Display options <a href="http://arshaw.com/fullcalendar/docs/display/">here</a>.</p>
	    			
	    		<div class="grid_6 leading">	
	    			<div id="calendar2"></div>
	    		</div>
	    		<div class="grid_6 leading">	
<pre class="code">
Javascript:

$(document).ready(function() {
  $('#calendar2').fullCalendar({
	header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaDay'
	},
	firstDay:1, //Monday
	height:320
  });
});



</pre>    				
	    		</div>
	    	</div>
    		<div class="clearfix"></div>
    		
    		<div class="leading">
	    		<h4>Available Views</h4>
	    		<p>There are 5 ways of displaying days and events and these views are all built in to FullCalendar.</p>
	    		<ul class="nostyle">
	    			<li>month</li>
	    			<li>basicWeek</li>
	    			<li>basicDay</li>
	    			<li>agendaWeek</li>
	    			<li>agendaDay</li>
	    		</ul>
	    		<p>You can set the initial view of the calendar with the <span class="code">defaultView</span> option.</p>
	    		<div class="grid_6 leading">
	    			<div id="calendar3"></div>
	    		</div>
	    		<div class="grid_6 leading">
<pre class="code">
Javascript:

$(document).ready(function() {
  $('#calendar3').fullCalendar({
	header: {
		left: 'prev,next',
		center: 'title',
		right: 'today'
	},
	defaultView: 'basicWeek'
});



</pre>	    			
	    		</div>
    		</div>
    		<div class="clearfix"></div>
    		
    		<div class="leading">
    			<h4>Events</h4>
    			<p>To add array of event that will be displayed on the calendar:</p>
<pre class="code">
$('#calendar').fullCalendar({
    events: [
        {
            title  : 'event1',
            start  : '2011-11-05'
        },
        {
            title  : 'event2',
            start  : '2011-11-15',
            end    : '2011-11-18'
        },
        {
            title  : 'event3',
            start  : '2011-11-25 12:30:00',
            allDay : false // will make the time show
        }
    ]
});
</pre>    	
				<p>Here are some other common options used:</p>
				<table class="basic-table">
					<thead>
						<tr>
							<th style="width:100px">Options</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>editable</td>
							<td>Determines whether the events on the calendar can be modified. <pre class="code">Boolean, default: false</pre>
								This determines if the events can be dragged and resized. Enables/disables both at the same time.
							</td>
						</tr>
						<tr>
							<td>disableDragging</td>
							<td>Disables all event dragging, even when events are editable. <pre class="code">Boolean, default: false</pre></td>
						</tr>
						<tr>
							<td>disableResizing</td>
							<td>Disables all event resizing, even when events are editable. <pre class="code">Boolean, default: false</pre></td>
						</tr>
						<tr>
							<td>selectable</td>
							<td>Allows a user to highlight multiple days or timeslots by clicking and dragging.<pre class="code">Boolean/View Option Hash, default: false</pre></td>
						</tr>
					</tbody>
				</table>
    		</div>
    		
    		<p>Check for below calendar with added events, enable event dragging and enable editing.</p>
    		
    		<div id="fullcalendar" class="leading"></div>
    		
    		<p>* If you plan on doing <a href="http://jqueryui.com/demos/draggable/">dragging</a> or <a href="http://jqueryui.com/demos/resizable/">resizing</a>, you need some additional jQuery UI files.</p>
    		<p>* Check FullCalendar complete documentation <a href="http://arshaw.com/fullcalendar/docs/">here</a>. </p>
		</section>
	</section>
</div>