<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/jquery.autogrowtextarea.js"></script>

<script type = "text/javascript"> 
	$(document).ready(function(){
        $('input[type=text], input[type=password], input[type=url], input[type=email], input[type=number], textarea', '.form').iTextClear();

	    var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
	    $("#form3-autocomplete").autocomplete(data);

	    $("#form3-autotextarea").autoGrow();
	});
</script> 
                <h1 class="page-title">Custom Form Elements</h1>
                <div class="container_12 clearfix leading">
                    <div class="grid_12">
                        <form class="form">

                            <div class="clearfix">

                                <label for="form3-regtextfield" class="form-label no-description">Regular Text Field</label>

                                <div class="form-input"><input type="text" id="form3-regtextfield" name="regtextfield" /></div>

                            </div>

                            <div class="clearfix">

                                <label for="form3-withplaceholder" class="form-label no-description" >Field with placeholder text</label>

                                <div class="form-input"><input type="text" id="form3-withplaceholder" placeholder="Placeholder text here" class="placeholder"/></div>

                            </div>

                            <div class="clearfix">

                                <label for="form3-withtooltip" class="form-label no-description">Field with Tooltip</label>

                                <div class="form-input"><input type="text" id="form3-withtooltip" title="This is a tooltip." class="has-tooltip" /></div>

                            </div>

                            <div class="clearfix">

                                <label for="form3-autocomplete" class="form-label">Simple Autocomplete</label>

                                <div class="form-input"><input type="text" id="form3-autocomplete" placeholder="Try 'C' or 'A'" /></div>

                            </div>

                            <div class="clearfix">

                                <label for="form3-autotextarea" class="form-label">Autoresize Textarea</label>

                                <div class="form-input form-textarea"><textarea id="form3-autotextarea" rows="5"></textarea></div>

                            </div>
                        </form>
                    </div>
                </div>