#modalContainer {
	border:1px;
    color:#000000;
    background:#000000;
    background-color: #DBE6EC;
    opacity: .8;
    border: 2px solid #fff;
    /*
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f19f6d', endColorstr='#e85b05'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f19f6d), to(#e85b05)); 
    background: -moz-linear-gradient(top,  #f19f6d,  #e85b05);
    */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    font-size:10px;
    font-weight: normal;
    padding: 5px 8px;
    position:none;
    z-index:5001;
    display:none;
    text-align: left;
    overflow:auto;
}

.label-title {
	font-size:16px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; cursor:pointer;}
#sortable li span { position: absolute; margin-left: -1.3em; }

#availability-message{
	font-size:12px;
	color:#DD4B39;
	font-weight:normal;
}