.extras_table {
  width:75%;
  margin-left:20px;
}
.extras_table td, .extras_table th {
  border:none;
}
.extras_table .extras_x-desc {
  border-top:1px solid #000;
}
.extras_table .extras_y-desc {
  font-size:10px;
  margin-left:20px;
  border-right:1px solid #122a47;
  padding-right:5px;
  text-align:right;
  width:10%;
  color:#55595e;
}
/* Sets the max width of the result bar */
.extras_result {
  width:130%;
  color:#55595e;
  text-align:left;  
}
/* This will serve as the bar, make it look nice with a background image or colour gradient */
.extras_result p.extras_p {
  <!-- width:30px; float:left; -->
  width:0; float:left;
  background:#122a47;
  background: -moz-linear-gradient(left, #122a47, #bacad9);
  background: -webkit-gradient(linear, left top, right top, from(#122a47), to(#bacad9));
  filter: progid:DXImageTransform.Microsoft.Gradient(
    StartColorStr='#122a47', EndColorStr='#bacad9', GradientType=0);
}
<!-- 
.extras_result p.extras_p {
  width:0; float:left;
  background:#122a47;
  background: -moz-linear-gradient(left, #122a47, #bacad9);
  background: -webkit-gradient(linear, left top, right top, from(#122a47), to(#bacad9));
  filter: progid:DXImageTransform.Microsoft.Gradient(
    StartColorStr='#122a47', EndColorStr='#bacad9', GradientType=0);
  text-align:right;
}
-->
/* Position the result data and set default display to none (for the fade in) */
.extras_result span {
  position:relative;
  left:70px;
  display:none;
  color:#2C7AE6;
}
/* A class to centre text */
.extras_x-desc p.extras_centreIt {
  text-align:center;
}