#folderTab{
	width:960px;
	height:37px;
	background:#656665 url(/images/folderTop.png)  no-repeat scroll left;
}
.folderTabText{
	width:185px;
	height:27px;
	text-align:center;
	font-size:15px;
	padding-top:12px;
	color:#217AE6;
	font-family: 'Lucida Grande',Verdana,Helvetica,Arial,sans-serif;
}
.reportContainer{
	margin-top:15px;
	margin-left:10px;
	<!-- background:#E4F3FF; -->
	width:960px;
}
.tbl{
	float:left;
	margin-right:10px;
	margin-left:30px;
	height:290px;
	border:3px #72808E;
	border-style:solid double;
	border-bottom-style:double;
	border-top-style:double;
}
#bargraph{
	margin-left:250px;
	width:660px;
	height:290px;
	border:3px #72808E;
	border-style:solid double;
	border-bottom-style:double;
	border-top-style:double;
	overflow:auto;
}
.dashboardTabMenu{	
	margin-left:40px;
	padding-top:5px;
	width:870px;
	height:25px;
	border:1px #72808E;
	background:#fffffff;
	border-style:solid ;
	text-align:center;
}
.dashboardTabMenu span{
	font-size:16px;
	padding-top:5px;
	padding:20px;
}
.dashboardTabMenu a.selected{
	color:#3C3C47;
}
.dimension{
	margin-left:40px;
	margin-top:10px;
}
.tableTitle{
	color:#327AFF; 
}
#monthlyReport{
	margin-left:30px;
	margin-top:10px;
	padding-left:0px;
	height:100px;
	width:880px;
	border:3px #72808E;
	border-style:solid double;
	border-bottom-style:double;
	border-top-style:double;	
}
#feedbackSeverity{
	width:500px;
}