html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: baseline;
	
}

body {
	margin: 0;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 13px;
	color: #4F5155;
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px !important;
}

.header {
	background: #28466B;
	top:0;
	left:0;
	width:100%;
	height:40px;
	text-align: center;
	padding: 10px 0 0 0;
	border-bottom: 3px solid #CECECE;
}

.footer {	
	padding-top: 12px;
	border-top: 1px solid #999999;
	background: #CECECE;
	width:100%;
	height:90px;
	color: #666666;
	font-size: 12px;
}

.web_font
{
	font-size: 1.1em;	
	font-family: 'Varela Round', sans-serif;
	color: #333;
}

.logo
{
	float:left;
	font-size: 2em;	
	color: #fff;
	text-shadow: 1px 1px #333;
}



/* content containers */
.content_container
{
	font-size: 12px;
	padding: 10px 20px 15px 20px;
	min-height: 580px;
}

.content_left
{
	margin: 2px;
	width: 250px;
}

/* this is the container of the ajax-able contents */
.content_right
{
	margin-top: -3px;
	width: 700px;
	min-height:500px;	
	padding: 0 10px 0 0;
	border-top: 0;
	/*border-right: 1px solid #04480a;*/
	/*border-bottom: 1px solid #04480a;*/
	/*border-left: 1px solid #04480a;*/
}
/* end content containers */